@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "GetVendors";
}

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row">
                <!-- Small table -->
                <div class="col-md-12 my-4">
                    <h2 class="h4 mb-1">البائعين</h2>
                    <div class="w-100 m-auto bg-white p-5">
                    <div class="toolbar d-flex justify-content-between align-items-center">
                        <!-- Add User Button aligned to the right -->
                        <a class="btn btn-primary ms-auto" asp-controller="User" asp-action="AddUser">أضف مستخدم جديد</a>

                        <!-- Search Form aligned to the left -->
                        <form class="form d-flex align-items-center">
                            <div class="form-group col-auto ms-2">
                                <label for="search1" class="sr-only">Search</label>
                                <input type="text" class="form-control" id="search1" value="" placeholder="Search">
                            </div>
                        </form>
                    </div>

                    <div class="card shadow">
                        <div class="card-body">
                           
                        <table class="table table-borderless table-hover">
                            <thead>
                                <tr>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="all2">
                                            <label class="custom-control-label" for="all2"></label>
                                        </div>
                                    </td>
                                    <th>معرف المستخدم</th>
                                    <th>صوره اللوجو</th>
                                    <th>اسم المستخدم</th>
           
                                    <th>الاسم الظاهر</th>
                                    <th>البريد الالكترونى</th>
                                    <th>رقم الموبايل</th>
                                    <th >موقع الشركه</th>
           
                                    <th>صلاحيه المسخدم</th>
                                    <th>العمليات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() >0)
                                {
                                   @foreach (var item in Model)
                                {
                                     <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="2474">
                                                <label class="custom-control-label" for="2474"></label>
                                            </div>
                                           </td>
                                                <td>
                                                    <p class="mb-0 text-muted"><strong>@item.Id</strong></p>
                                                </td>
                                            <td>
                                                <div class="avatar avatar-md">
                                                    <img src="~/@item.Photo" style="width=70px" class="avatar-img rounded-rounded">
                                                </div>
                                            </td>
                                       
                                        <td>
                                                <p class="mb-0 text-muted"><strong>@item.UserName</strong></p>
                                            
                                        </td>
                                        <td>
                                            
                                            <p class="mb-0 text-muted">@item.DisplayName</p>
                                        </td>
                                        <td>
                                           
                                            <p class="mb-0 text-muted">@item.Email</p>
                                        </td>
                                        <td >
                                            <p class="text-muted"> @item.PhoneNumber</p>
                                            </td>
                                            <td><p class="text-muted"> @item.Location</p></td>
                                            <td>@string.Join(",", item.Roles.ToList())</td>
                                            <td>
                                            <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="text-muted sr-only">Action</span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item"  asp-action="EditVendor" asp-route-id="@item.Id">تعديل</a>
                                                        <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                                                <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">تفاصيل</a>
                                            </div>
                                        </td>
                                    </tr>
                                }  
                                }
      
           
        
      
   
                            </tbody>
                        </table>
                         
                    
                </div> <!-- customized table -->
            </div> <!-- end section -->
            </div>
            </div>
           </div>
           </div>
           
